.buttons-list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 1fr);
    border: 1px dashed #7B61FF;
    border-radius: 5px;
    justify-content: space-around;
    max-width: 700px;
    padding: 20px;
    margin: 40px;
    background-color: #FAFAFA;
}